@{
    ViewBag.Title = "Clothing Co Store";
}

<h2>@ViewBag.Message</h2>
<p>
    Visit the Catalogs
</p>
<a href="/Client" title="Clients Catalog">Clients Catalog</a>
<p></p>
<a href="/Sale" title="Sales Catalog">Sales Catalog</a>
<p></p>
<a href="/Items" title="Products Catalog">Products Catalog</a>
